.news-container {
    margin-top: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 20px;

  }
  
  .news-title {
    font-size: 36px;
    transform: translateX(-50%);
    color: rgb(0, 0, 0);
    box-sizing: border-box;
  }
  
  
  .news-link {
    font-size: 20px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: bold;
  }
  
  .news-link:hover {
    color: rgb(25, 28, 219);
  }
  h2 {
    font-size: 35px;
    border-bottom: 6px solid rgb(0, 255, 170);  /* 黒い下線を付ける */
    padding-bottom: 10px; /* 下線とテキストの間のスペースを設定 */
    margin-bottom: 20px; /* 下線の下の余白を設定 */
    font-weight: 900;
  }