.video-wrapper {
    display: flex;
    justify-content: center; /* 中央寄せに修正 */
    text-align: center;
    background-color: #f2f2f2; /* 薄い灰色の背景色を設定 */
  }
  
  /* スライダーの矢印アイコンのスタイル */
  .slick-prev:before,
  .slick-next:before {
    font-size: 36px; /* 矢印アイコンのサイズを大きくする */
    color: black; /* 矢印アイコンの色を設定 */
  }
  
  /* スライダーの矢印アイコンを内側に寄せるためのスタイル */
  .slick-prev {
    left: 20px; /* 左側の余白を調整 */
    z-index: 1; /* 前面に表示するための z-index */
  }
  
  .slick-next {
    right: 40px; /* 右側の余白を調整 */
    z-index: 1; /* 前面に表示するための z-index */
  }
  